/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.home {
  font-family: "Roboto", sans-serif;
  color: rgb(28, 28, 28);
  height: 100vh;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home article {
  cursor: pointer;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.aside {
  position: relative;
  flex: 1;
  border-right: 1px solid #eff2f5;
  display: flex;
  flex-direction: column;
}
.aside .navbar {
  background-color: #eff2f5;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 10px 20px;
}
.aside .navbar .all-user {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  z-index: 99;
}
.aside .navbar .all-user h3 {
  align-self: flex-start;
}
.aside .navbar .all-user .parent {
  overflow: scroll;
}
.aside .navbar .all-user .newChat {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  background-color: #eabaca;
  color: white;
}
.aside .navbar .all-user .newChat button {
  flex: 1;
  background-color: transparent;
  border: none;
}
.aside .navbar .all-user .newChat button i {
  font-size: 2rem;
  color: white;
}
.aside .navbar .all-user .newChat span {
  flex: 2;
  font-size: 1.6rem;
  font-weight: 900;
}
.aside .navbar .unActive {
  display: none;
}
.aside .navbar article {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aside .navbar article div {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.aside .navbar article h3 {
  font-size: 1.5rem;
}
.aside .navbar article img {
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.aside .search {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0;
  border-bottom: 0.1px solid #eff2f5;
  gap: 1rem;
}
.aside .search .search-input {
  padding: 0 2rem;
  width: 100%;
  display: flex;
}
.aside .search .search-input input[type=search] {
  background-color: #eff2f5;
  width: 80%;
  border: none;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: 1.5rem;
}
.aside .search .search-input input[type=search]::-moz-placeholder {
  color: #bbb;
}
.aside .search .search-input input[type=search]:-ms-input-placeholder {
  color: #bbb;
}
.aside .search .search-input input[type=search]::placeholder {
  color: #bbb;
}
.aside .search .search-input button[type=submit] {
  width: 20%;
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}
.aside .search .search-input button[type=submit]:hover {
  opacity: 1;
}
.aside .search article {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  width: 100%;
}
.aside .search article:hover {
  background-color: #eff2f5;
}
.aside .search article h3 {
  font-size: 1.5rem;
}
.aside .search article img {
  background-color: white;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.aside .chats {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.aside .chats .active {
  background-color: #eff2f5;
}
.aside .chats .chat-user {
  padding: 0 35px;
  height: 5rem;
}
.aside .chats .chat-user:hover {
  background-color: #eff2f5;
}
.aside .chats .chat-user article {
  display: flex;
  gap: 1rem;
  align-items: center;
  height: 100%;
  align-items: center;
}
.aside .chats .chat-user article div {
  border-bottom: 1px solid #eff2f5;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.aside .chats .chat-user article h3 {
  font-size: 1.5rem;
}
.aside .chats .chat-user article img {
  background-color: white;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.chat {
  display: flex;
  flex-direction: column;
  flex: 2;
  background-color: #eff2f5;
}
.chat .backBtn {
  background: none;
  border: none;
  font-size: 1.5rem;
  display: none;
}
.chat .svg-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}
.chat .svg-icon h1 {
  font-size: 5rem;
  font-weight: 900;
  color: #636a6f;
  font-family: "Amatic SC", cursive;
}
.chat .chatInfo {
  background-color: #eff2f5;
  display: flex;
  height: 50px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}
.chat .chatInfo div {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}
.chat .chatInfo div span {
  font-size: 1.5rem;
}
.chat .chatInfo img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.chat .messages {
  overflow: scroll;
  background-image: url("https://i.pinimg.com/736x/8c/98/99/8c98994518b575bfd8c949e91d20548b.jpg");
  color: black;
  padding: 20px 20px;
  height: calc(100% - 160px);
  scroll-behavior: smooth;
}
.chat .messages .message {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.chat .messages .message p {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px 20px;
  border-radius: 0 10px 10px 10px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
.chat .messages .message .messageInfo {
  display: flex;
  flex-direction: column;
}
.chat .messages .message .messageInfo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.chat .messages .message .messageContent {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.chat .messages .message .messageContent img {
  width: 30%;
  border: 2px solid white;
  border-radius: 3px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
.chat .messages .message.owner {
  flex-direction: row-reverse;
}
.chat .messages .message.owner .messageContent {
  align-items: flex-end;
}
.chat .messages .message.owner .messageContent img {
  border: 2px solid pink;
}
.chat .messages .message.owner .messageContent p {
  background-color: pink;
  border-radius: 10px 0 10px 10px;
}
.chat .input {
  height: 50px;
  padding: 10px 25px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat .input input {
  width: 100%;
  outline: none;
  background-color: #eff2f5;
  height: 70%;
  border-radius: 2rem;
  padding-left: 3rem;
  border: 1px solid rgb(163, 163, 163);
}
.chat .input .send {
  display: flex;
  align-items: center;
  gap: 10px;
}
.chat .input .send img {
  height: 24px;
  cursor: pointer;
}

.signUp {
  font-family: "Roboto", sans-serif;
  color: rgb(28, 28, 28);
  height: 100vh;
  align-items: center;
  display: flex;
}
.signUp .left {
  background-color: #ffdfea;
  height: 100%;
  flex: 1.5;
}
.signUp .right {
  background-color: #fff8f8;
  height: 100%;
  flex: 2.5;
}
.signUp section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.signUp section .right-container {
  width: 65%;
}
.signUp section .right-container h1 {
  font-size: 3rem;
  text-align: center;
  font-weight: 900;
}
.signUp section .right-container div span {
  color: red;
}
.signUp section .right-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signUp section .right-container form label {
  align-self: flex-start;
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-left: 1rem;
}
.signUp section .right-container form .addImg {
  display: flex;
  align-items: center;
}
.signUp section .right-container form .addImg img {
  width: 25%;
}
.signUp section .right-container form input {
  outline: none;
  width: 100%;
  height: 2rem;
  border-radius: 20px;
  border: 2px solid #eabaca;
  padding: 0 1rem;
  font-size: 1.2rem;
}
.signUp section .right-container form input[type=submit] {
  border: 2px solid #f8abc5;
  font-size: 1.1rem;
  width: 30%;
  background-color: #eabaca;
  color: white;
  font-weight: 900;
}
.signUp section h2 {
  font-size: 4rem;
  font-weight: 900;
}
.signUp section h3 {
  font-size: 2rem;
}
.signUp section button {
  border: 2px solid #eabaca;
  background-color: transparent;
  font-size: 1rem;
  border-radius: 20px;
  padding: 4px 10px;
}

.signIn input[type=submit] {
  margin-top: 1rem;
}

@media only screen and (max-width: 720px) {
  html {
    font-size: 10px;
  }
  .chat {
    font-size: 10px;
  }
  .turnOff {
    display: none;
  }
  #backBtn {
    display: block;
  }
  #sign {
    flex-direction: column;
  }
  #sign section {
    width: 100%;
  }
  #signUP {
    flex-direction: column;
  }
  #signUP section {
    width: 100%;
  }
}
@media only screen and (max-width: 420px) {
  .aside .chats .chat-user article img {
    width: 35px;
    height: 35px;
  }
}
@media only screen and (max-width: 320px) {
  .aside .chats .chat-user article img {
    width: 25px;
    height: 25px;
  }
}/*# sourceMappingURL=style.css.map */